extends ../public/include/layout
block content
    div(class="index",:class="waiting?'loading':''",id="app",v-cloak)
        .container  
            audio(ref="audio", @timeupdate="musicUpdate",@ended="musicEnded")
            .playProgress(:style="{width:playProgress}")
            .search-input          
                v-input-group(compact)
                    v-input(type="text",v-model="searchValue",style="width:50%",@keyup.enter.native="searchMusic")
                    v-button(type="primary",icon="search",@click.key="searchMusic") 搜索
            h2 搜索列表
            .serch-none(v-if="searchList.length===0") 当前无搜索结果
            ul.search-list(v-if="searchList.length>0")
                li(class="search-li",v-for="(item,index) in searchList",v-key="index")
                    .song-img
                        img(:src="item.img")
                    .song-info
                        .song-name 歌名--{{item.name}}
                        .song-singer 歌手--{{item.singer}}
                    .song-detail
                        a.song-handle(href="javascript:void(0)",@click="saveMusic(item)")
                            v-icon(type="arrow-down")
                            span 保存
                        a.song-handle(:class="playIndex===index?'playing':''",href="javascript:void(0)",@click="openMusic(item.url,index)")
                            v-icon(type="play-circle") 
                            span 试听
            h2 歌曲列表
            ul.music-list
                each item in list
                    li.music-li                   
                        p #{item.index} #{item.name}
                        a(href=`/music/${item.id}`,role="button") 详情
                        a(href='javascript:void(0)',@click='delMusic') 删除
block script
    script(src="/public/js/index.js")
